

<div class="buttonsContainer">
<div class="crud-buttons">
  <button mat-button [routerLink]="['/new-event/',event?._id]">Editar</button>
  <button mat-button [routerLink]="['/event-details/delete/',event?._id]">Eliminar evento</button>
</div>

<div>
  <input placeholder="Quantity" class="buyTicketsInput" type="text" id="quantity" name="quantity" #quantity>
  <button  class ="customizeButton" mat-button (click)="buyTickets(quantity.value)">Buy tickets</button>
</div>

<a class ="customizeButton" [routerLink]="['/home']"> Back</a>
</div>
</div>

<a [routerLink]="['/home']"> Atras</a>
