<div class="container">
	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				First step
				<small>Let´s create your account</small>
			</h2>
		</div>
    <p>about-us works!</p>
  </div>
  <div class="card">
		<div class="card-image2">
			<h2 class="card-heading">
				First step
				<small>Let´s create your account</small>
			</h2>
		</div>
    <p>about-us works!</p>
  </div>
  <div class="card">
		<div class="card-image3">
			<h2 class="card-heading">
				First step
				<small>Let´s create your account</small>
			</h2>
		</div>
    <p>about-us works!</p>
  </div>
</div>

