<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

	<div class="image-area" >
		<div class="img-wrapper">
			<img src="https://res.cloudinary.com/dgan7qtmg/image/upload/v1680593866/multer/61cefd3c-5719-4369-8012-0053cb821828.jpg">
			<h2>Nicolas Calise</h2>
			<ul>
				<li><a href="https://github.com/nicocalise/"><i class="fab fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/nicolas-antonio-calise/"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="https://twitter.com/nicocalise"><i class="fab fa-twitter"></i></a></li>
			</ul>
		</div>
    <div class="img-wrapper">
			<img src="https://res.cloudinary.com/dgan7qtmg/image/upload/v1680547239/multer/Imagen%20de%20WhatsApp%202023-03-16%20a%20las%2018.jpg" alt="Daniel Ortiz">
			<h2>Daniel Ortiz</h2>
			<ul>
				<li><a href="https://github.com/DaniBootCamp"><i class="fab fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/daniel-ortiz-fsd/"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="https://twitter.com/Sakhir_Euw"><i class="fab fa-twitter"></i></a></li>
			</ul>
		</div>
    <div class="img-wrapper">
			<img src="https://res.cloudinary.com/dgan7qtmg/image/upload/v1680618502/multer/b34da7e6-411c-4f0a-bfa7-236cc6f3ae37.jpg" alt="Albert">
			<h2>Albert Beltran</h2>
			<ul>
				<li><a href="https://github.com/AlbertBeltranCode"><i class="fab fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/albertbeltrancarbonell/"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="https://twitter.com/Askavolk"><i class="fab fa-twitter"></i></a></li>
			</ul>
		</div>
	</div>

