<div class="container">
	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				Get started
				<small>Welcome aboard partner</small>
			</h2>
		</div>
<form class="loginForm" (ngSubmit)="onSubmit()">
  <div class="input">
    <input type="email" class="input-field" id="email" name="email" [(ngModel)]="userData.email">
    <label class="input-label" for="email">Email</label>
  </div>
  <div class="input">
    <input type="password" class="input-field" id="password" name="password" [(ngModel)]="userData.password">
    <label class="input-label" for="password">Password</label>
  </div>

  <div class="card-info">
    <p>By signing up you are agreeing to our Terms and Conditions</p>
  </div>

  <button type="submit" class="loginButton">Login</button>
</form>
