<div *ngIf="useMenu; else buttons">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu"  xPosition="before" yPosition="below">
    <button mat-menu-item *ngFor="let menuItem of options" (click)="onMenuItemClick($event, menuItem)">
      {{ menuItem.name }}
    </button>
    <button>Logout</button>
  </mat-menu>
</div>

<ng-template #buttons>
  <button mat-button class="customizeButton" *ngFor="let menuItem of options" [routerLink]="menuItem.route">
    {{ menuItem.name }}
  </button>
  <button mat-button class="customizeButton" *ngIf="!token; else logoutButton" [routerLink]="['/register']">Register</button>
  <button mat-button class="customizeButton" *ngIf="!token" [routerLink]="['/login']">Log in</button>
  <ng-template #logoutButton>
    <button mat-button class="customizeButton" (click)="logout()">Logout</button>
  </ng-template>
</ng-template>

<!--<router-outlet></router-outlet>-->
