<div *ngIf="useMenu; else buttons">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu  #menu="matMenu"  xPosition="before" yPosition="below">
    <button mat-button class="customizeButton" *ngFor="let menuItem of options" [routerLink]="menuItem.route">
      {{ menuItem.name }}
    </button>
    <button class="customizeButton" *ngIf="token" (click)="logout()">Logout</button>
    <button class="customizeButton" mat-button [routerLink]="['/register']" *ngIf="!token">Register</button>
    <button class="customizeButton" mat-button [routerLink]="['/login']" *ngIf="!token">Log in</button>
  </mat-menu>
  <mat-menu>

  </mat-menu>
</div>

<ng-template #buttons>
  <button mat-button class="customizeButton" *ngFor="let menuItem of options" [routerLink]="menuItem.route">
    {{ menuItem.name }}
  </button>
  <button mat-button class="customizeButton" *ngIf="!token; else logoutButton" [routerLink]="['/register']">Register</button>
  <button mat-button class="customizeButton" *ngIf="!token" [routerLink]="['/login']">Log in</button>
  <ng-template #logoutButton>
    <button mat-button class="customizeButton"(click)="logout()">Logout</button>
  </ng-template>
</ng-template>

<!--<router-outlet></router-outlet>-->

