<div class="container">
	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				<p *ngIf="user">Welcome: {{user.name}}</p>
				<small>Tickets adquired</small>
			</h2>
		</div>

<div class="cardForm">
  <h1>EVENTS BOOKED</h1>
  <div *ngFor="let item of searchResults">
      <p>Evento: {{item.idEvent.name}}</p>
      <p>Fecha: {{item.idEvent.date}}</p>
	  <p>Cantidad entradas: {{item.quantity}}</p>
      <img src="{{item.idEvent.foto}}" width="50px" height="50px" alt="">
	  <button (click)="eliminarTicket(item._id, item.idEvent._id, item.quantity)">eliminar ticket</button>
   </div>
</div>

