<div class="container">
  <mat-form-field>
    <input matInput placeholder="Search">
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="filter-buttons">
    <button mat-button>Filter 1</button>
    <button mat-button>Filter 2</button>
    <button mat-button>Filter 3</button>
  </div>



  <div *ngIf="eventList.length">
    <h3>Eventos</h3>
      <!--TODO - Que aparezca unicamente cuando el usuario (Admin) este loggeado-->
    <div class="crud-buttons">
      <button mat-button [routerLink]="['/new-event/']">Crear Evento</button>
    </div>
    <div *ngFor="let event of eventList">
      <!--<h4>{{ event.name }}</h4>-->
      <a class="btn" [routerLink]="['/event-details/',event._id]">{{ event._id }} - {{ event.name }}</a>
      <img style="width:80px; height:80px"  [src]="event.foto" [alt]="event.name">
    </div>
  </div>
</div>
