<p>home works!</p>

<div class="container">
  <mat-form-field>
    <input matInput placeholder="Search">
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="filter-buttons">
    <button mat-button>Filter 1</button>
    <button mat-button>Filter 2</button>
    <button mat-button>Filter 3</button>
  </div>

  <mat-list class="matList">
    <mat-list-item>
      <img mat-list-avatar src="https://via.placeholder.com/50" alt="Item 1">
      <h3 mat-line>Item 1</h3>
      <p mat-line>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item>
      <img mat-list-avatar src="https://via.placeholder.com/50" alt="Item 2">
      <h3 mat-line>Item 2</h3>
      <p mat-line>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item>
      <img mat-list-avatar src="https://via.placeholder.com/50" alt="Item 3">
      <h3 mat-line>Item 3</h3>
      <p mat-line>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
