<p>home works!</p>

<div class="container">
  <mat-form-field>
    <input matInput placeholder="Search">
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="filter-buttons">
    <button mat-button>Filter 1</button>
    <button mat-button>Filter 2</button>
    <button mat-button>Filter 3</button>
  </div>

  <div *ngIf="characterList.length">
    <h3>Somos felices!</h3>
    <div *ngFor="let character of characterList">
      <h4>{{ character.name }}</h4>
      <img [src]="character.foto" [alt]="character.name">
    </div>
  </div>

</div>
